@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header {
  height: 80px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  width: 100px;
  height: 100px;
}

.empty-input {
  width: 60%;
  height: 25px;
  border-radius: 10px;
  border-width: 0;
  font-size: large;
  padding-left: 8px;
}

.empty-input:focus {
  outline: none;
}

.date-time {
  margin-right: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.photo-container {
  position: relative;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: white;
}

.photo {
  display: inline-block;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 768px) {
  .date-time {
    display: none;
  }

  .content {
    flex-direction: column;
  }

  .photo-container {
    width: 100%;
  }

  .photo {
    height: 20vh;
    display: block;
  }

  .centeredText {
    top: 35%;
  }
}